@import "../../../styles/styles.scss";
.post-edit-content {
  background: $color-dark-2;
  border: 2px solid $color-light-2;
  color: $color-dark-2;
  padding: 25px;
  border-radius: 8px;

  .card-body {
    background: $color-dark-2;
    color: $color-light-1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    max-width: 800px;

    h5 {
      color: $color-light-2;
      font-size: 2em;
      margin: 0;
    }
    h6 {
      color: $color-light-2;

      font-size: 1.8em;
      margin: 0;
      margin: 0;
    }
    a {
      color: $color-light-2;
      margin: 0;
    }
    p {
      margin: 0;
      font-size: 1em;
      color: $color-light-1;
    }
    blockquote {
      margin: 0;
      padding: 5px;
      padding-left: 1em;
      border-left: 4px solid $color-gold-1;
      font-size: 1.2em;
      font-weight: 500;
    }

    ul {
      color: $color-light-2;
      padding-left: 2em;
      li {
        padding: 0.5em;
      }
    }
    ol {
      color: $color-light-2;
      padding-left: 2em;
      li {
        padding: 0.5em;
      }
    }
    img {
      margin: 0;
      object-fit: cover;
      max-height: 450px;
      background-size: 100% 100%;
      width: 100%;
      border-radius: 8px;
    }
  }
}
